h1,
h2,
h3,
h4,
p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  /* font-size: 20px; */
  line-height: 16px;
  text-align: center;
  background-color: #d9d9d9;
  color: #000000;
}

button {
  color: #ffffff;
  background-color: #7155d9;
  margin: 30px;
}

.all-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.principal {
  box-sizing: border-box;

  /* position: absolute; */
  width: 678px;
  height: 356px;
  left: 218px;
  top: 177px;

  background: #efefef;
  border: 1px solid #000000;
}

.title-description-text {
  /* float: left; */
  margin-bottom: 10%;
  margin-top: 10%;
  width: 50%;
  height: 72px;
  left: calc(50% - 138px / 2 - 163px);
  top: 312px;
}

.log-in-candidates {
  box-sizing: border-box;
  float: left;

  /* position: absolute; */
  width: 20%;
  height: 20%;
  left: 218px;
  top: 595px;

  color: #ffffff;
  /* background: #B682D9; */
  /* border: 1px solid #000000; */
}

.log-in-candidates button {
  background: #b682d9;
}

.log-in-companies {
  box-sizing: border-box;
  float: left;

  /* position: absolute; */
  width: 20%;
  height: 20%;
  left: 584px;
  top: 595px;

  color: #ffffff;
  /* background: #7155D9; */
  /* border: 1px solid #000000; */
}

.principal-image {
  box-sizing: border-box;
  float: right;

  /* position: absolute; */
  width: 30%;
  height: 30%;
  left: 971px;
  margin: -100px 30px 30px 30px;
  /* top: calc(50% - 484px/2 - 1175px); */

  background: #efefef;
  /* border: 1px solid #000000; */
}

.principal-image Image {
  max-width: 100px;
}

.project {
  box-sizing: border-box;

  /* position: absolute; */
  width: 543px;
  height: 228px;
  margin-bottom: 70px;
  /* top: calc(50% - 228px/2 - 568px); */

  background: #efefef;
  border: 1px solid #000000;
}

.project-image {
  width: 40%;
  height: 40%;
  margin: 10px;
  float: left;
}

.project-text {
  width: 40%;
  float: right;
  border: 1px solid #000000;
}

.project-text p {
  font-size: 0.5em;
}

.posts {
  box-sizing: border-box;

  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

  /* position: absolute; */
  width: 100%;
  height: 20%;
  float: left;
  /* top: calc(50% - 228px/2 - 568px); */

  background: #efefef;
  border: 1px solid #000000;
}

.post {
  float: left;
  max-width: 30%;
}

.post button {
  float: right;
  margin: -16px -98px 4px 28px;
}

.post h3 {
  margin: 10px;
}

.posts-image {
  box-sizing: border-box;
  float: right;

  /* position: absolute; */
  width: 30%;
  height: 30%;
  margin: -250px 30px 30px 30px;
  /* top: calc(50% - 484px/2 - 1175px); */

  background: #efefef;
  /* border: 1px solid #000000; */
}

.companies {
  box-sizing: border-box;

  /* position: absolute; */
  width: 543px;
  height: 228px;
  /* top: calc(50% - 228px/2 - 568px); */

  background: #efefef;
  border: 1px solid #000000;
}

.companies-elements {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-top: 20px;
}

.subscriptions {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  /* position: absolute; */
  width: 543px;
  height: 228px;
  left: 218px;
  /* top: calc(50% - 228px/2 - 568px); */

  background: #efefef;
  border: 1px solid #000000;
}

.subscriptions h4 {
  margin: 10px;
}
.subscriptions button {
  align-items: center;
}
