h1,
h2,
h3,
h4,
p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  color: #000000;
}

button {
  color: #ffffff;
  background-color: #7155d9;
  margin: 30px;
}

.all-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.principal {
  box-sizing: border-box;

  margin-left: 5%;
  
  background: #efefef;
  border: 1px solid #000000;
}

.title-description-login {
  width: 50%;
  padding: 5%;
}

.title-description-text {
  margin-bottom: 10%;
  margin-top: 10%;
  height: 72px;
}

.title-description-text h2 {
  font-size: 3em;
  line-height: 1em;
  margin: 5%;
  margin-bottom: 50px;
}

.log-in-candidates {
  box-sizing: border-box;
  float: left;
  
  width: 20%;
  height: 20%;
  margin: 1%;
  
  color: #ffffff;
}

.log-in-candidates button {
  background: #b682d9;
  margin-top: 68%;
}

.log-in-companies {
  box-sizing: border-box;
  float: left;
  
  margin-left: 56%;
  margin-top: 10%;

  width: 20%;
  height: 20%;

  color: #ffffff;
}

.principal-image {
  box-sizing: border-box;
  float: right;

  width: 30%;
  height: 30%;
  left: 971px;
  margin: -300px 80px 30px 30px;

  background: #efefef;
}

.principal-image Image {
  max-width: 100px;
}

.project {
  box-sizing: border-box;

  margin-left: 5%;

  background: #efefef;
  border: 1px solid #000000;
}

.project-image {
  width: 35%;
  height: 35%;
  margin-left: 100px;
  float: left;
}

.project-text {
  margin: 100px 80px 0px 0px;
  height: 72px;
  width: 40%;
  float: right;
}

.project-text button {
  margin-left: 40%;
}

.posts {
  box-sizing: border-box;

  margin-left: 5%;
  width: 95%;

  background: #efefef;
  border: 1px solid #000000;
}

.post {
  float: left;
  max-width: 80%;
  border: 1px solid #000000;
}

.post button {
  float: right;
  margin: -50px 35px 0px 0px;
}

.post h3, .post p {
  float: left;
  max-width: 35%;
  margin: 10px;
}

.post-text {
  display: flex;
  flex-direction: column;
}

.posts-jobs {
  margin: 40px 0px 0px 30px;
  width: 50%;
  float: left;
  display: grid;
}

.posts-image {
  box-sizing: border-box;
  float: right;

  margin-right: 150px;
  width: 35%;
  height: 35%;

  background: #efefef;
}

.companies {
  box-sizing: border-box;

  height: 300px;
  width: 95%;
  margin-left: 5%;

  background: #efefef;
  border: 1px solid #000000;
}

.companies-elements {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-top: 100px;
}

.subscriptions {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  margin-left: -46%;
  width: 203%;
  height: 228px;

  background: #efefef;
  border: 1px solid #000000;
}

.subscriptions h3 {
  font-size: 2em;
}
.subscriptions h4 {
  font-size: 3em;
  margin: 10px;
}
.subscriptions button {
  margin: 0px 0px 0px 140px;
}

.subscription-plan {
  border: 1px solid #000000;
}