.Contenedor {
  display: flex;
  flex-direction: column;
  border-width: 1px 1px 9px 1px;
  border-style: solid;
  border-color: #000000;
  border-radius: 6px;
  padding: 40px;
  width: 186px;
  align-items: center;
  height: auto;
}

.image {
  width: 168px;
  height: auto;
}

.title {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 139%;
  /* identical to box height, or 21px */

  letter-spacing: -0.011em;

  color: #000000;
}

.icon {
  width: 30px;
}
