.Contenedor {
  display: flex;
  flex-direction: column;
  border-width: 1px 1px 9px 1px;
  border-style: solid;
  border-color: #000000;
  border-radius: 6px;
  padding: 40px;
}

.title {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 139%;
  /* or 44px */

  letter-spacing: -0.011em;

  color: #000000;
}
